h3 入住信息
  small 查询入住信息，以及住户迁出
.container-fluid(ng-controller="AccommodationController as table")
  .panel.panel-default
    .panel-heading
      form.pull-right.hidden-xs.form-inline
        | 地址：
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="campusOpen")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="selectedCampus" , ng-bind="selectedCampus")
            span.pull-left(ng-hide="selectedCampus") 所有校区
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='selectCampus("")') 所有校区
            li(ng-repeat='(key, value) in addressTree')
              a(href='#', ng-click='selectCampus(key)', ng-bind="key")
        // END button group
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="addressOpen", ng-show="selectedCampus")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="selectedAddress" , ng-bind="selectedAddress")
            span.pull-left(ng-hide="selectedAddress") 所有地址
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='selectAddress("")') 所有地址
            li(ng-repeat='(key, value) in addressTree[selectedCampus]', ng-if='!selectedCampus')
              a(href='#', ng-click='selectAddress(key)', ng-bind="key")
            li(ng-repeat='(key, value) in addressTree[selectedCampus]', ng-if='selectedCampus')
              a(href='#', ng-click='selectAddress(key)', ng-bind="key")
        // END button group
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="floorOpen", ng-show="selectedCampus && selectedAddress")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="selectedFloor" , ng-bind="selectedFloor")
            span.pull-left(ng-hide="selectedFloor") 所有楼层
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='selectFloor("")') 所有楼层
            li(ng-repeat='(key, value) in addressTree[selectedCampus][selectedAddress]')
              a(href='#', ng-click='selectFloor(key)', ng-bind="key")
        // END button group
        // START box placeholder
        | &nbsp;&nbsp;类型：
        .btn-group(dropdown='dropdown', is-open="typeOpen")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:105px;")
            span.pull-left(ng-show="selectedType" , ng-bind="selectedType")
            span.pull-left(ng-hide="selectedType") 所有类型
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='selectType("")') 所有类型
            li
              a(href='#', ng-click='selectType("集体宿舍 - 男")') 集体宿舍 - 男
            li
              a(href='#', ng-click='selectType("集体宿舍 - 女")') 集体宿舍 - 女
            li
              a(href='#', ng-click='selectType("夫妻房")') 夫妻房
        // END button group
        // START box placeholder
        | &nbsp;&nbsp;状态：
        .btn-group(dropdown='dropdown', is-open="statusOpen")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="selectedStatus" , ng-bind="selectedStatus")
            span.pull-left(ng-hide="selectedStatus") 所有状态
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='selectStatus("")') 所有状态
            li
              a(href='#', ng-click='selectStatus("在住")') 在住
            li
              a(href='#', ng-click='selectStatus("已迁出")') 已迁出
        // END button group
        input.form-control.input-sm.form-horizontal(type='text', ng-model="searchKeywords", placeholder='表格搜索...')
        button.btn.btn-info.btn-sm(ng-click='searchKeywords=""; selectCampus(""); selectType("");') 复位
      .panel-title 入住信息列表
    

    //- ng-table指明了使用什么样的参数来创建表格
    table.table(ng-table='table.tableParams')
      tbody
        tr(ng-repeat='accommodationItem in accommodationItems')
          td(width="40", header="'ng-table/headers/checkbox.html'")
            .checkbox.c-checkbox
              label
                input(type='checkbox', ng-model="checkboxes.items[accommodationItem.accommodations[0].accommodationId]")
                span.fa.fa-check
          td(data-title="'宿舍地址'", sortable="'addressDetail'") {{ accommodationItem.dormitory.addressDetailCN }}
          td.text-center(data-title="'类型'", sortable="'type'", width="100") {{ accommodationItem.dormitory.typeCN }}
          td(data-title="'员工'")
            .btn.btn-primary.btn-xs(ng-repeat='accommodation in accommodationItem.accommodations', ng-click='showEmployee(accommodation.employee)') {{ accommodation.employee.name }}
          td.text-center(data-title="'迁入时间'", sortable="'accommodations[0].checkInDate'", width="100") {{ accommodationItem.accommodations[0].checkInDate }}
          td.text-center(data-title="'迁出时间'", sortable="'accommodations[0].checkOutDate'", width="100", ng-show="accommodationItem.accommodations[0].checkOutDate") {{ accommodationItem.accommodations[0].checkOutDate }}
          td.text-center(data-title="'迁出时间'", sortable="'accommodations[0].checkOutDate'", width="100", ng-hide="accommodationItem.accommodations[0].checkOutDate") /
          td.text-center(data-title="'状态'", sortable="'statusCN'", width="70") {{ accommodationItem.statusCN }}
          td.text-center(data-title="'操作'", width="80")
            button.btn.btn-danger.btn-xs(title='迁出', data-ng-click='checkOut(accommodationItem)')
                           i.fa.fa-sign-out
    // 自定义表头checkbox的template
    script(type="text/ng-template", id="ng-table/headers/checkbox.html")
      .checkbox.c-checkbox
        label
          input(type="checkbox", ng-model="checkboxes.checked", id="select_all", name="filter-checkbox", value="")
          span.fa.fa-check