h3 宿舍管理
  small.pull-right
    ol.breadcrumb
      li
        a(href='#') 鼓楼
      li
        a(href='#') 小粉桥平房
      li.active 1层

.container-fluid(ng-controller="DormitoryController as table")
  .panel.panel-default
    .panel-heading
      form.pull-right.hidden-xs.form-inline

        button.btn.btn-danger.btn-sm(type='button') 批量删除
        button.btn.btn-primary.btn-sm(ng-click='table.tableParams.sorting({})') 排序复位
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input.form-control.input-sm.form-horizontal(type='text', , placeholder='表格搜索...')
      .panel-title 宿舍列表
        
    //- ng-table指明了使用什么样的参数来创建表格，export-csv是插件ng-table-export的功能，仅能导出为csv
    table.table(ng-table='table.tableParams')
      tbody
        tr(ng-repeat='user in $data')
          td(width="40", header="'ng-table/headers/checkbox.html'")
            .checkbox.c-checkbox
              label
                input(type='checkbox', ng-model="checkboxes.items[user.id]")
                span.fa.fa-check
          td(data-title="'姓名'", sortable="'name'") {{user.name}}
          td(data-title="'年龄'", sortable="'age'") {{user.age}}
          td(data-title="'费用'", sortable="'money'") {{user.money}}
          td.text-center(data-title="'操作'", width="80")
            button.btn.btn-warning.btn-xs(title='编辑', data-ng-click='modify(user)')
                           i.fa.fa-pencil
            button.btn.btn-danger.btn-xs(title='删除', data-ng-click='delete(user)')
                           i.fa.fa-trash
    // 自定义表头checkbox的template
    script(type="text/ng-template", id="ng-table/headers/checkbox.html")
      .checkbox.c-checkbox
        label
          input(type="checkbox", ng-model="checkboxes.checked", id="select_all", name="filter-checkbox", value="")
          span.fa.fa-check
  
  // 修改信息的弹窗
  script(type="text/ng-template", id="modifyDialog")
    div
      legend
        h3.mt0 修改宿舍信息
      form.form-horizontal(method='get', action="/")
        .form-group
          label.col-sm-2.control-label(for='input-id') ID
          .col-sm-10
            input#input-id-1.form-control(type='text', disabled, ng-model="modifiyingUser.id")
        .form-group
          label.col-sm-2.control-label(for='input-name') 姓名
          .col-sm-10
            input#input-id-1.form-control(type='text', ng-maxlength="16", ng-model="modifiyingUser.name")
        .form-group
          label.col-sm-2.control-label(for='input-age') 年龄
          .col-sm-10
            input#input-id-1.form-control(type='text', ng-pattern="/^[0-9]+$/", ng-model="modifiyingUser.age")
        .form-group
          label.col-sm-2.control-label(for='input-money') 费用
          .col-sm-10
            input#input-id-1.form-control(type='number', ng-model="modifiyingUser.money")
      .row
        .container-fluid
          span.pull-right
            button.btn.btn-default.mr(type='button', ng-click='cancel()') 取消
            button.btn.btn-warning(type='button', ng-click='submitModify()') 修改
        
