h3 宿舍信息列表
  small 以表格的形式展示宿舍信息，您可以进行修改，或导出相关信息

.container-fluid(ng-controller="NGTableCtrl as table")
  .panel.panel-default
    .panel-heading
      span.pull-right
        button.btn.btn-primary.btn-sm(ng-click='table.tableParams.sorting({})') 排序复位
        &nbsp;
        a.btn.btn-sm.btn-info(ng-mousedown='csv.generate()', ng-href='{{ csv.link() }}', download='test.csv') 导出为CSV文件
      .panel-title
        button.btn.btn-labeled.btn-success(type='button')
          span.btn-label
            i.fa.fa-plus
          | 增加宿舍
    table.table.table-bordered.table-striped(ng-table='table.tableParams', export-csv='csv')
      tbody
        tr(ng-repeat='user in $data')
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td(data-title="'Name'", sortable="'name'") {{user.name}}
          td(data-title="'Age'", sortable="'age'") {{user.age}}
          td(data-title="'Money'", sortable="'money'")
            span(ng-class="{ 'plus': user.money >= 0,'minus': user.money < 0 }") {{user.money}}
          td.text-center(data-title="'操作'", width="80")
            button.btn.btn-warning.btn-xs(title='编辑', data-ng-click='Modify("{{user.name}}")')
                           i.fa.fa-pencil
            button.btn.btn-danger.btn-xs(title='删除', data-ng-click='Delete("{{user.name}}")')
                           i.fa.fa-trash