div
  legend
    h3.mt0 员工迁入
  form.form-horizontal
    .form-group
      label.col-sm-12.text-center(for='input-typeTrans') 检索或选择迁入的员工...
      .col-sm-12
        ui-select.text-left(ng-model='selectedApplication', theme='bootstrap', ng-disabled='disabled', ng-click='updateSelectionStatus($select.selected)')
          ui-select-match(placeholder='输入员工的部分信息...') {{ $select.selected.employees[0].name }}
          ui-select-choices(repeat='application in applications | filter: $select.search')
            b(ng-bind='application.employees[0].name | highlight: $select.search')
            div 身份证：
              small(ng-bind='application.employees[0].idNum | highlight: $select.search')
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所属中心：
              small(ng-bind='application.employees[0].department | highlight: $select.search')

  form.form-horizontal.form-validate(name="checkInForm", novalidate='', ng-show="selectedApplication")
    hr
    .form-group
      label.col-sm-2.control-label(for='input-name') 姓名
      .col-sm-4
        input#input-name.form-control(type='text', name="name", ng-model="employee.name", required='', disabled='')
      label.col-sm-2.control-label(for='input-gender') 性别
      .col-sm-4
        input#input-gender.form-control(type='text', name="gender", ng-model="employee.gender", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-idNum') 身份证
      .col-sm-10
        input#input-idNum.form-control(type='text', name="idNum", ng-model="employee.idNum", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-department') 中心
      .col-sm-4
        input#input-department.form-control(type='text', name="department", ng-model="employee.department", required='', disabled='')
      label.col-sm-2.control-label(for='input-dutyDate') 入职
      .col-sm-4
        input#input-dutyDate.form-control(type='text', name="dutyDate", ng-model="employee.dutyDate", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-capacityCnt') 配偶
      .col-sm-10
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.spouseStatus", required='', ng-pattern="/^[0-9]+$/", disabled='')
    .row
      .container-fluid
        span.pull-right
          button.btn.btn-default.mr(type='button', ng-click='cancel()') 取消
          button.btn.btn-warning(type='submit', ng-click='submitModify()') 修改
  .row(ng-hide="selectedApplication")
      .container-fluid
        span.pull-right
          button.btn.btn-default.mr(type='button', ng-click='cancel()') 取消