div
  legend
    h3.mt0 修改宿舍信息
  form.form-horizontal.form-validate(name="modifyDormitoryForm", novalidate='')
    .form-group
      label.col-sm-2.control-label(for='input-campus') 校区
      .col-sm-4
        input#input-campus.form-control(type='text', name="campus", ng-model="dormitory.campus", required='', disabled='')
      label.col-sm-2.control-label(for='input-address') 地址
      .col-sm-4
        input#input-address.form-control(type='text', name="address", ng-model="dormitory.address", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-floor') 楼层
      .col-sm-4
        input#input-floor.form-control(type='text', name="floor", ng-model="dormitory.floor", required='', disabled='')
      label.col-sm-2.control-label(for='input-doorplate') 宿舍号
      .col-sm-4
        input#input-doorplate.form-control(type='text', name="doorplate", ng-model="dormitory.doorplate", required='')
    .form-group
      label.col-sm-2.control-label(for='input-typeTrans') 类型
      .col-sm-10
        ui-select.text-left(ng-model='dormitory.type', theme='bootstrap', ng-disabled='disabled')
          ui-select-match(placeholder='请选择宿舍类型...') {{ dormitory.type }}
          ui-select-choices(repeat='type in dormitoryTypes | filter: $select.search')
            span(ng-bind-html='type | highlight: $select.search')
    .form-group
      label.col-sm-2.control-label(for='input-capacityCnt') 核定
      .col-sm-4
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="dormitory.capacityCnt", required='', ng-pattern="/^[0-9]+$/")
      label.col-sm-2.control-label(for='input-occupiedCnt') 实际
      .col-sm-4
        input#input-occupiedCnt.form-control(type='text', name="occupiedCnt", ng-model="dormitory.occupiedCnt", required='', ng-pattern="/^[0-9]+$/")
    .row
      .container-fluid
        span.pull-right
          button.btn.btn-default.mr(type='button', ng-click='cancel()') 取消
          button.btn.btn-warning(type='submit', ng-click='submitModify()') 修改