div
  legend
    h3.mt0 员工详情 - {{ employee.name }}
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='input-name') 姓名
      .col-sm-4
        input#input-name.form-control(type='text', name="name", ng-model="employee.name", required='', disabled='')
      label.col-sm-2.control-label(for='input-gender') 性别
      .col-sm-4
        input#input-gender.form-control(type='text', name="gender", ng-model="employee.genderCN", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-idNum') 身份证
      .col-sm-10
        input#input-idNum.form-control(type='text', name="idNum", ng-model="employee.idNum", required='', disabled='')
    .form-group
      label.col-sm-2.control-label(for='input-department') 中心
      .col-sm-4
        input#input-department.form-control(type='text', name="department", ng-model="employee.department", required='', disabled='')
      label.col-sm-2.control-label(for='input-dutyDate') 入职
      .col-sm-4
        input#input-dutyDate.form-control(type='text', name="dutyDate", ng-model="employee.dutyDate", required='', disabled='')
    //- 配偶需要分情况组织界面
    h3 配偶情况
    hr
    //- 没有配偶或集团员工
    .form-group(ng-if='employee.spouseType=="NONE"')
      label.col-sm-2.control-label(for='input-capacityCnt') 类型
      .col-sm-10
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.spouseTypeCN", required='',disabled='')
    //- 校外配偶
    .form-group(ng-if='employee.spouseType=="OUTER"')
      label.col-sm-2.control-label(for='input-capacityCnt') 姓名
      .col-sm-4
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.outsideSpouse.name", required='',disabled='')
      label.col-sm-2.control-label(for='input-capacityCnt') 性别
      .col-sm-4
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.spouseTypeCN.genderCN", required='',disabled='')
    .form-group(ng-if='employee.spouseType=="OUTER"')
      label.col-sm-2.control-label(for='input-capacityCnt') 身份证
      .col-sm-10
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.spouseTypeCN.idNum", required='',disabled='')
    .form-group(ng-if='employee.spouseType=="OUTER"')
      label.col-sm-2.control-label(for='input-capacityCnt') 单位
      .col-sm-10
        input#input-capacityCnt.form-control(type='text', name="capacityCnt", ng-model="employee.spouseTypeCN.workLocationDetail", required='',disabled='')
    .row
      .container-fluid 
        .pull-left(style="margin-top: 6px;")
          small 如需修改员工信息，请使用
            a(href="#") 员工管理
        .pull-right
          button.btn.btn-default(type='button', ng-click='cancel()') 返回