<div>
   <legend>
      <h3 class="mt0">员工迁入</h3>
   </legend>
   <form class="form-horizontal">
      <div class="form-group">
         <label for="input-typeTrans" class="col-sm-12 text-center">检索或选择迁入的员工...</label>
         <div class="col-sm-12">
            <ui-select ng-model="selectedApplication" theme="bootstrap" ng-disabled="disabled" ng-click="updateSelectionStatus($select.selected)" class="text-left">
               <ui-select-match placeholder="输入员工的部分信息...">{{ $select.selected.employees[0].name }}</ui-select-match>
               <ui-select-choices repeat="application in applications | filter: $select.search"><b ng-bind="application.employees[0].name | highlight: $select.search"></b>
                  <div>身份证：
                     <small ng-bind="application.employees[0].idNum | highlight: $select.search"></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所属中心：
                     <small ng-bind="application.employees[0].department | highlight: $select.search"></small>
                  </div>
               </ui-select-choices>
            </ui-select>
         </div>
      </div>
   </form>
   <form name="checkInForm" novalidate="" ng-show="selectedApplication" class="form-horizontal form-validate">
      <hr/>
      <div class="form-group">
         <label for="input-name" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-name" type="text" name="name" ng-model="employee.name" required="" disabled="" class="form-control" />
         </div>
         <label for="input-gender" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-gender" type="text" name="gender" ng-model="employee.gender" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-idNum" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-idNum" type="text" name="idNum" ng-model="employee.idNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">中心</label>
         <div class="col-sm-4">
            <input id="input-department" type="text" name="department" ng-model="employee.department" required="" disabled="" class="form-control" />
         </div>
         <label for="input-dutyDate" class="col-sm-2 control-label">入职</label>
         <div class="col-sm-4">
            <input id="input-dutyDate" type="text" name="dutyDate" ng-model="employee.dutyDate" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">配偶</label>
         <div class="col-sm-10">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.spouseStatus" required="" ng-pattern="/^[0-9]+$/" disabled="" class="form-control" />
         </div>
      </div>
      <div class="row">
         <div class="container-fluid">
            <span class="pull-right">
               <button type="button" ng-click="cancel()" class="btn btn-default mr">取消</button>
               <button type="submit" ng-click="submitModify()" class="btn btn-warning">修改</button>
            </span>
         </div>
      </div>
   </form>
   <div ng-hide="selectedApplication" class="row">
      <div class="container-fluid">
         <span class="pull-right">
            <button type="button" ng-click="cancel()" class="btn btn-default mr">取消</button>
         </span>
      </div>
   </div>
</div>