<div>
   <legend>
      <h3 class="mt0">修改宿舍信息</h3>
   </legend>
   <form name="modifyDormitoryForm" novalidate="" class="form-horizontal form-validate">
      <div class="form-group">
         <label for="input-campus" class="col-sm-2 control-label">校区</label>
         <div class="col-sm-4">
            <input id="input-campus" type="text" name="campus" ng-model="dormitory.campus" required="" disabled="" class="form-control" />
         </div>
         <label for="input-address" class="col-sm-2 control-label">地址</label>
         <div class="col-sm-4">
            <input id="input-address" type="text" name="address" ng-model="dormitory.address" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-floor" class="col-sm-2 control-label">楼层</label>
         <div class="col-sm-4">
            <input id="input-floor" type="text" name="floor" ng-model="dormitory.floor" required="" disabled="" class="form-control" />
         </div>
         <label for="input-doorplate" class="col-sm-2 control-label">宿舍号</label>
         <div class="col-sm-4">
            <input id="input-doorplate" type="text" name="doorplate" ng-model="dormitory.doorplate" required="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-typeTrans" class="col-sm-2 control-label">类型</label>
         <div class="col-sm-10">
            <ui-select ng-model="dormitory.type" theme="bootstrap" ng-disabled="disabled" class="text-left">
               <ui-select-match placeholder="请选择宿舍类型...">{{ dormitory.type }}</ui-select-match>
               <ui-select-choices repeat="type in dormitoryTypes | filter: $select.search">
                  <span ng-bind-html="type | highlight: $select.search"></span>
               </ui-select-choices>
            </ui-select>
         </div>
      </div>
      <div class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">核定</label>
         <div class="col-sm-4">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="dormitory.capacityCnt" required="" ng-pattern="/^[0-9]+$/" class="form-control" />
         </div>
         <label for="input-occupiedCnt" class="col-sm-2 control-label">实际</label>
         <div class="col-sm-4">
            <input id="input-occupiedCnt" type="text" name="occupiedCnt" ng-model="dormitory.occupiedCnt" required="" ng-pattern="/^[0-9]+$/" class="form-control" />
         </div>
      </div>
      <div class="row">
         <div class="container-fluid">
            <span class="pull-right">
               <button type="button" ng-click="cancel()" class="btn btn-default mr">取消</button>
               <button type="submit" ng-click="submitModify()" class="btn btn-warning">修改</button>
            </span>
         </div>
      </div>
   </form>
</div>