<div>
   <legend>
      <h3 class="mt0">员工详情 - {{ employee.name }}</h3>
   </legend>
   <form class="form-horizontal">
      <div class="form-group">
         <label for="input-name" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-name" type="text" name="name" ng-model="employee.name" required="" disabled="" class="form-control" />
         </div>
         <label for="input-gender" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-gender" type="text" name="gender" ng-model="employee.genderCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-idNum" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-idNum" type="text" name="idNum" ng-model="employee.idNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">中心</label>
         <div class="col-sm-4">
            <input id="input-department" type="text" name="department" ng-model="employee.department" required="" disabled="" class="form-control" />
         </div>
         <label for="input-dutyDate" class="col-sm-2 control-label">入职</label>
         <div class="col-sm-4">
            <input id="input-dutyDate" type="text" name="dutyDate" ng-model="employee.dutyDate" required="" disabled="" class="form-control" />
         </div>
      </div>
      <h3>配偶情况</h3>
      <hr/>
      <div ng-if="employee.spouseType==&quot;NONE&quot;" class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">类型</label>
         <div class="col-sm-10">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.spouseTypeCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div ng-if="employee.spouseType==&quot;OUTER&quot;" class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.outsideSpouse.name" required="" disabled="" class="form-control" />
         </div>
         <label for="input-capacityCnt" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.spouseTypeCN.genderCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div ng-if="employee.spouseType==&quot;OUTER&quot;" class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.spouseTypeCN.idNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div ng-if="employee.spouseType==&quot;OUTER&quot;" class="form-group">
         <label for="input-capacityCnt" class="col-sm-2 control-label">单位</label>
         <div class="col-sm-10">
            <input id="input-capacityCnt" type="text" name="capacityCnt" ng-model="employee.spouseTypeCN.workLocationDetail" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="row">
         <div class="container-fluid">
            <div style="margin-top: 6px;" class="pull-left">
               <small>如需修改员工信息，请使用<a href="#">员工管理</a>
               </small>
            </div>
            <div class="pull-right">
               <button type="button" ng-click="cancel()" class="btn btn-default">返回</button>
            </div>
         </div>
      </div>
   </form>
</div>