<h3>宿舍信息列表
   <small>以表格的形式展示宿舍信息，您可以进行修改，或导出相关信息</small>
</h3>
<div ng-controller="DormitoryListCtrl as table" class="container-fluid">
   <div class="panel panel-default">
      <div class="panel-heading">
         <span class="pull-right hidden-xs">
            <button ng-click="table.tableParams.sorting({})" class="btn btn-primary btn-sm">排序复位</button>
         </span>
         <div class="panel-title">
            <button type="button" class="btn btn-labeled btn-success">
               <span class="btn-label"><i class="fa fa-plus"></i>
               </span>新增</button>
            <button type="button" class="btn btn-danger">删除选中条目</button>
         </div>
      </div>
      <table ng-table="table.tableParams" class="table">
         <tbody>
            <tr ng-repeat="user in $data">
               <td width="40" header="'ng-table/headers/checkbox.html'">
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" ng-model="checkboxes.items[user.id]" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td data-title="'Name'" sortable="'name'">{{user.name}}</td>
               <td data-title="'Age'" sortable="'age'">{{user.age}}</td>
               <td data-title="'Money'" sortable="'money'">{{user.money}}</td>
               <td data-title="'操作'" width="80" class="text-center">
                  <button title="编辑" data-ng-click="Modify(&quot;{{user.name}}&quot;)" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>
                  </button>
                  <button title="删除" data-ng-click="Delete(&quot;{{user.name}}&quot;)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
      <script type="text/ng-template" id="ng-table/headers/checkbox.html">
         <div class="checkbox c-checkbox"><label><input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/><span class="fa fa-check"></span></label></div>
      </script>
   </div>
</div>