meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

meta(name='description', content='{{app.description}}')
meta(name='keywords', content='BigData, Cloud, Industry')

title(data-ng-bind="::pageTitle()") 南京大学后勤OA系统

link(rel='stylesheet', href='app/css/app.css', data-ng-if="!app.layout.isRTL")
link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")
link(rel="shortcut icon" href="app/img/favicon.png")
