// START Off Sidebar (right)
nav
  tabset(justified="true")
    tab
      tab-heading 
        em.icon-equalizer.fa-lg
      div(ng-include="'app/views/partials/settings.html'")

// END Off Sidebar (right)